body {
    background-color: black;
}

p {
    color: black;
    margin-left: 20px;
}

#gameDiv {
    display: table;
    margin: 0 auto;
    border-style: solid;
    border-color: darkred;
}

.header {
    display: table;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}