body {
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: black;
    margin-left: 20px;
}

#gameDiv {
    display: table;
    margin: 0 auto;
    padding-top: 30px;
}

.header {
    display: table;
    margin: 0 auto;
    padding-top: 20px;
}